.comment-class {
    border-width: 1px;
    border-color: rgb(0, 73, 99);
    border-style: solid;
    border-radius: 2px;
    background-color: rgb(231, 249, 255);
    text-align: left;
    margin: auto;
    margin-top: 10px;
    width: 50%;
    min-height: 100px;
}

.comment-header {
    border-width: inherit;
    border-color: inherit;
    border-style: inherit;
    border-radius: 2px;
    background-color: rgb(70, 101, 113);
    margin: -1px;
    padding: 0;
    top: 0;
    display: flex;
}

.comment-author {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 5px;
    margin: 0;
    color: rgb(231, 249, 255);
}

.comment-rating {
    float: right;
    padding: 5px;
    margin: 0;
    color: rgb(231, 249, 255);
}

.comment-body {
    padding: 5px;
    display: flex;
}

.comment-content {
    display: inline-block;
    margin: 5px;
    width: 100%;
    overflow: auto;
    text-align: left;
}

.vote-buttons {
    float: right;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.rate {
    height: 40px;
    margin: 5px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    cursor: pointer;
}

.rate:hover {
    border-width: 2px;
    margin-left: 4px;
    margin-right: 4px;
}

.rate-up {
    background-color: rgb(230, 255, 230);
    border-color: rgb(100, 200, 100);
}

.rate-down {
    background-color: rgb(255, 230, 230);
    border-color: rgb(200, 100, 100);
}