h1 {
    display: flex;
    justify-content: center
}

#no-comments {
    display: flex;
    justify-content: center;
    color: dimgray;
}

#logged-in {
	float: left;
}

#footer-div {
    position: fixed;
    border-top: 2px;
    border-style: solid;
    border-color: rgb(0, 58, 79);
    bottom: 0;
    width: 100%;
    background-color: rgb(155, 190, 201);
    display: flex;
    justify-content: center;
}

#footer-padding {
    height: 100px;
}

#footer {
    margin: 10px;
    width: 400px;
    height: inherit;
}

#footer>form {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer>form>div {
    margin-bottom: 5px;
    height: 30px;
}

#footer>form>div>a {
    vertical-align: middle;
    height: inherit;
    color: rgb(0, 27, 36);
}

#footer>form>div>button {
    float: right;
    height: inherit;
}

#footer>form>input {
    height: 30px;
}

.comment-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}