.Search {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: inline-block;
}

body {
    background-color: rgb(200, 240, 255);
}